server:
  error:
    whitelabel:
      enabled: false

spring:
  web:
    resources:
      add-mapping: false
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop  # ??? create-drop. ????? validate/update ???.
    show-sql: true

  data:
    redis:
      cluster:
        password: CkKGUP39YP   # 현재 설정된 비밀번호
        nodes:
          - my-redis-redis-cluster-0.my-redis-redis-cluster-headless:6379
          - my-redis-redis-cluster-1.my-redis-redis-cluster-headless:6379
          - my-redis-redis-cluster-2.my-redis-redis-cluster-headless:6379
          - my-redis-redis-cluster-3.my-redis-redis-cluster-headless:6379
          - my-redis-redis-cluster-4.my-redis-redis-cluster-headless:6379
          - my-redis-redis-cluster-5.my-redis-redis-cluster-headless:6379

  security:
    oauth2:
      client:
        registration:
#          google:
#            client-id: ${GOOGLE_CLIENT}
#            client-secret: ${GOOGLE_SECRET}
#            scope: # google API? ?? ?
#              - profile
#              - email

          kakao:
            client-id: ba4ad9422c578c47f67e3d3b16c84b53
            client-secret: 6T2gEREyLHs5SaEvZHdzBYD4mgInFaLA
            redirect-uri: http://localhost:8080/login/oauth2/code/kakao
            client-authentication-method: client_secret_post # kakao? ?? ?? ?? ?? ???? post??. (?? ???? ?? ??? ??? ????.)
            authorization-grant-type: authorization_code
            scope: # kakao ?? ?? ?? ?? ??? ID ?
              - profile_nickname
#              - profile_image
#              - account_email
            client-name: kakao

        # kakao provider ??
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id # ?? ?? ?? ? ???? ??? ????? ?? ??.
#  autoconfigure:
#    exclude: org.springframework.boot.autoconfigure.data.redis.RedisAutoConfiguration


springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

jwt:
  key: c2VjcmV0a2V5c2VjcmV0a2V5c2VjcmV0a2V5c2VjcmV0a2V5c2VjcmV0a2V5c2VjcmV0a2V5c2VjcmV0a2V5c2VjcmV0a2V5

logging:
  level:
    org.springframework.data.redis: DEBUG

